ul.menu
  li
    .menu-group Decode
  li
    a(href='base32_decode') Base32
  li
    a(href='base32_decode_file') Base32 File
  li
    a(href='base64_decode') Base64
  li
    a(href='base64_decode_file') Base64 File
  li
    a(href='html_decode') HTML
  li
    a(href='url_decode') URL
