ul.menu
  li
    .menu-group Encode
  li
    a(href='base32_encode') Base32
  li
    a(href='base32_encode_file') Base32 File
  li
    a(href='base64_encode') Base64
  li
    a(href='base64_encode_file') Base64 File
  li
    a(href='html_encode') HTML
  li
    a(href='url_encode') URL
