ul.menu
  li
    .menu-group File Hash
  li
    a(href='crc16_checksum') CRC-16
  li
    a(href='crc32_checksum') CRC-32
  li
    a(href='md2_file_hash') MD2
  li
    a(href='md4_file_hash') MD4
  li
    a(href='md5_checksum') MD5
  li
    a(href='sha1_checksum') SHA1
  li
    a(href='sha224_checksum') SHA224
  li
    a(href='sha256_checksum') SHA256
  li
    a(href='sha384_file_hash') SHA384
  li
    a(href='sha512_file_hash') SHA512
  li
    a(href='sha512_224_file_hash') SHA512/224
  li
    a(href='sha512_256_file_hash') SHA512/256
  li
    a(href='sha3_224_checksum') SHA3-224
  li
    a(href='sha3_256_checksum') SHA3-256
  li
    a(href='sha3_384_checksum') SHA3-384
  li
    a(href='sha3_512_checksum') SHA3-512
  li
    a(href='keccak_224_checksum') Keccak-224
  li
    a(href='keccak_256_checksum') Keccak-256
  li
    a(href='keccak_384_checksum') Keccak-384
  li
    a(href='keccak_512_checksum') Keccak-512
  li
    a(href='shake_128_checksum') Shake-128
  li
    a(href='shake_256_checksum') Shake-256
